#card {
  border-color: rgb(101, 70, 32, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 95%;
}

#title {
  font-family: Oswald;
  font-size: 1.5rem;
}

#image {
  border-radius: 3%;
  height: 14rem;
}
