#card {
  border-color: rgb(101, 70, 32, 0.3);
  box-shadow: 10px 10px 10px rgba(0.8, 0.8, 0.8, 0.8);
  opacity: 95%;
}

#title {
  font-family: Oswald;
  text-transform: capitalize;
  font-size: 1.5rem;
}

#image {
  border-radius: 3%;
  height: 14rem;
}
