$dark-green: #183a1d; //rgb(24,58,29)
$light-green: #7a9d54;
$brown: #654620; //rgb(101,70,32)
$beige: #f2ee9d;
$light-biege: #fffdf8fa;
$orange: #f0a04b; //rgb(240,160,75)

.navbar {
  background: linear-gradient(
    280deg,
    rgb(255, 252, 203) 0%,
    rgb(246, 217, 181) 35%,
    rgb(255, 255, 201) 100%
  );
  border-color: rgb(101, 70, 32, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 95%;
}
#logos {
  margin-left: 4rem;
}
@media (min-width: 320px) {
  .navbar {
    background: linear-gradient(
      280deg,
      rgb(255, 252, 203) 0%,
      rgb(247, 232, 213) 35%,
      rgb(254, 254, 251) 100%
    );
  }
}
